<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visdom ชั่วคราว</title>

  <!-- plugin -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <!-- style -->
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/dashboard.min.css">
</head>
<body>
  <main>
    <header>
      <div class="collap-aside"><img src="/img/icon/column-head.svg" alt=""></div>
      <div class="group">
        <div class="lang">
          <img src="/img/icon/thailand.svg" alt="">

          <ul class="lang-menu">
            <li><a href="">TH</a></li>
            <li><a href="">EN</a></li>
          </ul>
        </div>
        <div class="search-icon">
          <img src="/img/icon/search.svg" alt="">
          <div class="input-search">
            <input type="text">
          </div>
        </div>
      </div>
    </header>
    <div class="head-page">
      <div class="left">
        <p>ติดตามพาหนะ</p>
        <p>15 การติดตามพาหนะ</p>
      </div>
      <div class="right">
        <div class="status offline">
          <img src="/img/icon/arrow-gray.svg" alt="">
          <p>ออฟไลน์</p>
          <p class="count">99</p>
        </div>
        <div class="status stop">
          <img src="/img/icon/arrow-yellow.svg" alt="">
          <p>หยุดนิ่ง</p>
          <p class="count">99</p>
        </div>
        <div class="status running">
          <img src="/img/icon/arrow-green.svg" alt="">
          <p>เคลื่อนไหว</p>
          <p class="count">99</p>
        </div>
      </div>
    </div>
    <div class="search">
      <div class="input-box">
        <input type="text" class="form-component input" placeholder="พิมพ์ชื่อ คนขับ หรือ ทะเบียนรถ เพื่อนค้นหาการติดตาม">
        <img class="icon" src="/img/icon/search.svg" alt="">
      </div>
      <div class="button"><button class="form-component button primary">ค้นหา</button></div>
    </div>

    <div class="content">
      <div class="user">
        <div class="list active" onclick="more_info()">
          <figure><img src="/img/avatar1.jpg" alt=""></figure>
          <div class="name">
            <p>Alice Harding</p>
            <p>พาหนะ: Ford Mustang GT2000</p>
            <p class="plate-no">(8กท2354)</p>
          </div>
          <div class="status-bar">
            <div class="status"><img src="/img/icon/arrow-green.svg" alt=""></div>
            <div class="battery"><img src="/img/icon/battery.svg" alt=""></div>
            <div class="job"><p>99</p></div>
            <div class="view"><img src="/img/icon/eye.svg" alt=""></div>
          </div>
        </div>
        <div class="list" onclick="more_info()">
          <figure><img src="/img/avatar1.jpg" alt=""></figure>
          <div class="name">
            <p>Alice Harding</p>
            <p>พาหนะ: Ford Mustang GT2000</p>
            <p class="plate-no">(8กท2354)</p>
          </div>
          <div class="status-bar">
            <div class="status"><img src="/img/icon/arrow-green.svg" alt=""></div>
            <div class="battery"><img src="/img/icon/battery.svg" alt=""></div>
            <div class="job"><p>99</p></div>
            <div class="view"><img src="/img/icon/eye.svg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15302.326294478136!2d102.85882709585354!3d16.49671163181645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31228b2cb3970e53%3A0x8e27f07a4d2e5a91!2z4LmC4Lit4LiB4Li44LmJ4LiH4LmA4Lic4Liy!5e0!3m2!1sth!2sth!4v1624439426394!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div class="detail-more">
        <div class="cover"><img src="/img/bg1.png" alt=""></div>
        <div class="avatar"><img src="/img/avatar1.jpg" alt=""></div>
        
        <div class="group-button">
          <button class="form-component button gray"><a href=""><i class="fas fa-edit"></i> ประวัติงาน</a></button>
          <button class="form-component button gray"><a href=""><i class="fas fa-map-marked-alt"></i> ประวัติการเดินทาง</a></button>
          <button class="form-component button primary"><a href=""><i class="fas fa-edit"></i> แก้ไข</a></button>
        </div>

        <div class="user-name">
          <p class="name">Alice Harding</p>
          <div class="group-status">
            <img class="status" src="/img/icon/arrow-green.svg" alt="">
            <img class="battery" src="/img/icon/battery.svg" alt="">
            <p class="job">99</p>
          </div>
        </div>

        <div class="info">
          <p>
            <span><i class="fas fa-car"></i> พาหนะ :</span>
            <span>Ford Mustang Boss 302 (8กท9999)</span>
          </p>
          <p>
            <span><i class="fas fa-tachometer-alt"></i> จำกัดความเร็ว :</span>
            <span>90 Km/h</span>
          </p>
          <p>
            <span><i class="fas fa-tablet-alt"></i> อุปกรณ์ :</span>
            <span>Iphone 12 Pro max</span>
          </p>
          <p>
            <span><i class="fas fa-id-card"></i> รหัสพนักงาน :</span>
            <span>D000001</span>
          </p>
          <p>
            <span><i class="fas fa-users"></i> กลุ่ม :</span>
            <span>กลุ่มเทพ</span>
          </p>
          <p>
            <span><i class="fas fa-award"></i> บทบาท :</span>
            <span>คนขับ</span>
          </p>
          <p>
            <span><i class="fas fa-phone-alt"></i> เบอร์โทร :</span>
            <span>098-765-4321</span>
          </p>
          <p>
            <span><i class="fas fa-envelope"></i> อีเมล์ :</span>
            <span>Aliceharding@hotmail.com</span>
          </p>
        </div>

        <div class="close" onclick="close_info()"><i class="fas fa-times"></i></div>
      </div>
    </div>
  </main>
  
  <aside>
    <div class="aside-head">
      <div class="logo"><a href=""><img src="/img/logo/logo.png" alt=""></a></div>
      <div class="group">
        <div class="setting"><a href=""><img src="/img/icon/setting.svg" alt=""></a></div>
        <div class="user"><a href=""><img src="/img/icon/user.svg" alt=""></a></div>
      </div>
    </div>

    <div class="my-profile">
      <figure><img src="/img/avatar1.jpg" alt=""></figure>
      <div class="name"><p>Hanekawa Tsubasa</p></div>
      <div class="email"><p>Hanekawa505.cat@company.com</p></div>
    </div>

    <div class="dashboard group-menu">
      <div class="title-group">Dashboard</div>
      <div class="desc-group">ติดตามพาหนะและประวัติการเดินทาง</div>

      <a href="">
        <div class="menu active">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/car-01.svg" alt=""></div>
            <div class="name">ติดตามพาหนะ</div>
            <div class="other count">
              <p>5,290</p> <!-- จำนวนงานของทุกคน -->
            </div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/map-01.svg" alt=""></div>
            <div class="name">ประวัติการเดินทาง</div>
          </div>
        </div>
      </a>
      
    </div>

    <div class="customer group-menu">
      <div class="title-group">จัดการ งาน,ลูกค้า,พาหนะ,คนขับ</div>
      <div class="desc-group">แก้ไขเพิ่มเติม งาน,ลูกค้า,พาหนะ,คนขับ</div>

      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/client-01.svg" alt=""></div>
          <div class="name">ลูกค้า</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/client-01.svg" alt=""> <span>ดูลูกค้า</span></a>
          <a href=""><img src="/img/icon/group-01.svg" alt=""> <span>ประเภทลูกค้า</span></a>
        </ul>
      </div>

      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/job-01.svg" alt=""></div>
          <div class="name">งาน</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/job-01.svg" alt=""> <span>ดูงาน</span></a>
          <a href=""><img src="/img/icon/job-01.svg" alt=""> <span>รหัสงาน</span></a>
          <a href=""><img src="/img/icon/job-01.svg" alt=""> <span>ประเภทงาน</span></a>
          <a href=""><img src="/img/icon/job-01.svg" alt=""> <span>สินค้า</span></a>
        </ul>
      </div>

      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/driver-01.svg" alt=""></div>
          <div class="name">คนขับ</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/driver-01.svg" alt=""> <span>ดูคนขับ</span></a>
          <a href=""><img src="/img/icon/award-01.svg" alt=""> <span>บทบาทผู้ใช้</span></a>
          <a href=""><img src="/img/icon/group-01.svg" alt=""> <span>กลุ่ม</span></a>
        </ul>
      </div>
      
      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/vehicle-setting-01.svg" alt=""></div>
          <div class="name">ยานพาหนะ</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/vehicle-setting-01.svg" alt=""> <span>ดูยานพาหนะ</span></a>
          <a href=""><img src="/img/icon/vehicle-setting-01.svg" alt=""> <span>ประเภทพาหนะ</span></a>
        </ul>
      </div>
    </div>

    <div class="maintainance group-menu">
      <div class="title-group">อุปกรณ์ตรารางซ่อมบำรุง</div>
      <div class="desc-group">รายการกรอุปกรณ์และตรารางการซ่อมบำรุง</div>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/gadget-02.svg" alt=""></div>
            <div class="name">อุปกรณ์</div>
          </div>
        </div>
      </a>

      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/maintenance-01.svg" alt=""></div>
          <div class="name">ซ่อมบำรุง</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/maintenance-01.svg" alt=""> <span>ตารางซ่อมบำรุง</span></a>
          <a href=""><img src="/img/icon/maintenance-01.svg" alt=""> <span>ประเภทซ่อมบำรุง</span></a>
        </ul>
      </div>
      
    </div>
      
    <div class="report group-menu">
      <div class="title-group">รายงาน</div>
      <div class="desc-group">แก้ไขเพิ่มเติม งาน,ลูกค้า,พาหนะ,คนขับ</div>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/report-01.svg" alt=""></div>
            <div class="name">รายงานที่ 1</div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/report-01.svg" alt=""></div>
            <div class="name">รายงานที่ 2</div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/report-01.svg" alt=""></div>
            <div class="name">รายงานที่ 2</div>
          </div>
        </div>
      </a>
      
      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/report-01.svg" alt=""></div>
            <div class="name">รายงานที่ 2</div>
          </div>
        </div>
      </a>
    </div>
    </div>
  </aside>

  <script>
    function clone(){
      const ele = document.querySelectorAll('.content .user .list')[1]
      for(i=0;i<20;i++){
        const clone = ele.cloneNode(true)
        document.querySelector('.content .user').appendChild(clone)
      }
    }
    clone()
  </script>

  <script src="/js/dashboard.js"></script>
</body>
</html>