// color
$black: #000;
$white: #fff;
$darkblue: #0F172A;
$lightblue: #2C3344;
$littleblue: #F1F5F9;
$yellow: #FFBF2A;
$green: #14D214;
$sky: #71CDFF;
$lightsky: #EEF2FF;
$lightgray: #9A9A9A;
$gray: #DCDCDC;
$red: #C80000;

$font: 16px;

// display
$sm: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1563px;
$wide: 1900px;