<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wynntrack</title>

  <!-- plugin -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

  <!-- style -->
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/mile.min.css">
</head>
<body>
  <main>
    <header>
      <div class="collap-aside"><img src="/img/icon/column-head.svg" alt=""></div>
      <div class="group">
        <div class="lang">
          <img src="/img/icon/thailand.svg" alt="">

          <ul class="lang-menu">
            <li><a href="">TH</a></li>
            <li><a href="">EN</a></li>
          </ul>
        </div>
        <div class="search-icon">
          <img src="/img/icon/search.svg" alt="">
          <div class="input-search">
            <input type="text">
          </div>
        </div>
      </div>
    </header>
    <div class="head-page">
      <h1>บันทึกไมล์</h1>
      <p>50 บันทึกไมล์ทั้งหมด</p>
    </div>
    <div class="search">
      <div class="input-box date">
        <input type="text" class="form-component input" onfocus="this.type='date'" onblur="this.type='text'" placeholder="ค้นหาจากวันที่สร้าง">
      </div>

      <div class="input-box">
        <input type="text" class="form-component input" placeholder="พิมพ์ข้อมูลเพื่อค้นหา">
        <img class="icon" src="/img/icon/search.svg" alt="">
      </div>

      <div class="button"><button class="form-component button primary">ค้นหา</button></div>

      <div class="button"><button class="form-component button gray">ค้นหาขั้นสูง</button></div>

      <div class="import-export">
        <p class="mg-data"><img src="/img/icon/file-csv-01.svg" alt=""> โหลดCSV</p>
        <p class="mg-data"><img src="/img/icon/file-x-01.svg" alt=""> โหลดExcel</p>
      </div>

      <div class="delete"><i class="fas fa-trash-alt"></i> ลบ</div>

      <div class="add-typecustomer"><button class="form-component button yellow" onclick="open_addCode()">เพิ่มบันทึกไมล์</button></div>
    </div>

    <div class="content">
      <div class="data-table">
        <div class="head-table">
          <div class="td"><input type="checkbox"></div>
          <div class="td">รหัสพาหนะ</div>
          <div class="td">ชื่อพาหนะ</div>
          <div class="td">เลขไมล์</div>
          <div class="td">คนขับ</div>
          <div class="td">ชื่อจุด</div>
          <div class="td">ละติจูด/ลองจิจูด</div>
          <div class="td">รหัสงาน</div>
          <div class="td">วันที่บันทึก</div>
          <div class="td">วันสร้าง/แก้ไข</div>
          <div class="td">ตั้งค่า</div>
        </div>
  
        <div class="body-table">
          <div class="box-item">
            <div class="list">
              <div class="td"><input type="checkbox" name="" id=""></div>
              <div class="td">Bk-0001</div>
              <div class="td">Tiger Porche 88mm</div>
              <div class="td">6000</div>
              <div class="td">ศมจิต จห</div>
              <div class="td">จุดทดสอบ</div>
              <div class="td latlon">
                <p>100.12345678</p>
                <p>100.12345678</p>
              </div>
              <div class="td">DHL1234567890</div>
              <div class="td">03/07/2021 09:40:10</div>
              <div class="td date">
                <p>03/07/2021 09:40:10</p>
                <p>03/07/2021 09:40:10</p>
              </div>
              <div class="td"><i class="far fa-edit"></i></div>
            </div>
          </div>
        </div>
  
        <div class="pagination">
          <p>list per page</p>
  
          <div class="select-page">
            <select name="" id="" class="form-component select">
              <option value="">1</option>
              <option value="">1</option>
              <option value="">1</option>
              <option value="">1</option>
              <option value="">1</option>
            </select>
          </div>
  
          <p>1 - 10 of 50</p>
  
          <div class="page">
            <a href="" class="disable"><i class="fas fa-angle-double-left"></i></a>
            <a href="" class="disable"><i class="fas fa-angle-left"></i></a>
            <a href=""><i class="fas fa-angle-right"></i></a>
            <a href=""><i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-add-type">
      <div class="head-modal"><p>เพิ่มเลขไมล์</p></div>

      <div class="form">
        <div class="row">
          <div class="input-box">
            <label for="">ชื่อพาหนะ</label>
            <div class="group-input">
              <i class="fas fa-car"></i>
              <input type="text" class="form-component input">
            </div>
          </div>

          <div class="group-form">
            <div class="input-box">
              <label for="">เลขไมล์ล่าสุด</label>
              <div class="group-input">
                <i class="fas fa-tachometer-alt"></i>
                <input type="number" class="form-component input">
              </div>
            </div>

            <div class="input-box">
              <label for="">เลขไมล์</label>
              <div class="group-input">
                <i class="fas fa-tachometer-alt"></i>
                <input type="number" class="form-component input">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-box">
            <label for="">วันที่สร้าง</label>
            <div class="group-input">
              <i class="far fa-calendar"></i>
              <input type="date" class="form-component input">
            </div>
          </div>
        </div>
      </div>

      <div class="submit-zone">
        <div class="group-button">
          <button class="form-component button gray" onclick="close_addJob()">ยกเลิก</button>
          <button class="form-component button primary">สร้าง</button>
        </div>
      </div>
    </div>
  </main>
  
  <aside>
    <div class="aside-head">
      <div class="logo"><a href=""><img src="/img/logo/logo.png" alt=""></a></div>
      <div class="group">
        <div class="setting"><a href=""><img src="/img/icon/setting.svg" alt=""></a></div>
        <div class="user"><a href=""><img src="/img/icon/user.svg" alt=""></a></div>
      </div>
    </div>

    <div class="my-profile">
      <figure><img src="/img/avatar1.jpg" alt=""></figure>
      <div class="name"><p>Hanekawa Tsubasa</p></div>
      <div class="email"><p>Hanekawa505.cat@company.com</p></div>
    </div>

    <div class="dashboard group-menu">
      <div class="title-group">Dashboard</div>
      <div class="desc-group">ติดตามพาหนะและประวัติการเดินทาง</div>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/car-01.svg" alt=""></div>
            <div class="name">ติดตามพาหนะ</div>
            <div class="other count">
              <p>5,290</p> <!-- จำนวนงานของทุกคน -->
            </div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/map-01.svg" alt=""></div>
            <div class="name">ประวัติการเดินทาง</div>
          </div>
        </div>
      </a>
      
    </div>

    <div class="customer group-menu">
      <div class="title-group">จัดการ งาน,ลูกค้า,พาหนะ,คนขับ</div>
      <div class="desc-group">แก้ไขเพิ่มเติม งาน,ลูกค้า,พาหนะ,คนขับ</div>

      <div class="menu active">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/client-01.svg" alt=""></div>
          <div class="name">ลูกค้า</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/client-01.svg" alt=""> <span>ดูลูกค้า</span></a>
          <a href=""><img src="/img/icon/group-01.svg" alt=""> <span>ประเภทลูกค้า</span></a>
        </ul>
      </div>

      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/job-01.svg" alt=""></div>
          <div class="name">งาน</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/job-01.svg" alt=""> <span>ดูงาน</span></a>
          <a href=""><img src="/img/icon/job-01.svg" alt=""> <span>รหัสงาน</span></a>
          <a href=""><img src="/img/icon/job-01.svg" alt=""> <span>ประเภทงาน</span></a>
          <a href=""><img src="/img/icon/job-01.svg" alt=""> <span>สินค้า</span></a>
        </ul>
      </div>

      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/driver-01.svg" alt=""></div>
          <div class="name">คนขับ</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/driver-01.svg" alt=""> <span>ดูคนขับ</span></a>
          <a href=""><img src="/img/icon/award-01.svg" alt=""> <span>บทบาทผู้ใช้</span></a>
          <a href=""><img src="/img/icon/group-01.svg" alt=""> <span>กลุ่ม</span></a>
        </ul>
      </div>
      
      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/vehicle-setting-01.svg" alt=""></div>
          <div class="name">ยานพาหนะ</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/vehicle-setting-01.svg" alt=""> <span>ดูยานพาหนะ</span></a>
          <a href=""><img src="/img/icon/vehicle-setting-01.svg" alt=""> <span>ประเภทพาหนะ</span></a>
        </ul>
      </div>
    </div>

    <div class="maintainance group-menu">
      <div class="title-group">อุปกรณ์ตรารางซ่อมบำรุง</div>
      <div class="desc-group">รายการกรอุปกรณ์และตรารางการซ่อมบำรุง</div>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/gadget-02.svg" alt=""></div>
            <div class="name">อุปกรณ์</div>
          </div>
        </div>
      </a>

      <div class="menu">
        <div class="menu-level1">
          <div class="icon"><img src="/img/icon/maintenance-01.svg" alt=""></div>
          <div class="name">ซ่อมบำรุง</div>
          <div class="other arrow"><img src="/img/icon/arrow-down.svg" alt=""></div>
        </div>
        
        <ul class="submenu">
          <a href=""><img src="/img/icon/maintenance-01.svg" alt=""> <span>ตารางซ่อมบำรุง</span></a>
          <a href=""><img src="/img/icon/maintenance-01.svg" alt=""> <span>ประเภทซ่อมบำรุง</span></a>
        </ul>
      </div>
      
    </div>
      
    <div class="report group-menu">
      <div class="title-group">รายงาน</div>
      <div class="desc-group">แก้ไขเพิ่มเติม งาน,ลูกค้า,พาหนะ,คนขับ</div>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/report-01.svg" alt=""></div>
            <div class="name">รายงานที่ 1</div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/report-01.svg" alt=""></div>
            <div class="name">รายงานที่ 2</div>
          </div>
        </div>
      </a>

      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/report-01.svg" alt=""></div>
            <div class="name">รายงานที่ 2</div>
          </div>
        </div>
      </a>
      
      <a href="">
        <div class="menu">
          <div class="menu-level1">
            <div class="icon"><img src="/img/icon/report-01.svg" alt=""></div>
            <div class="name">รายงานที่ 2</div>
          </div>
        </div>
      </a>
    </div>

  </aside>

  <script>
    function clone(){
      const ele = document.querySelector('.content .body-table .box-item')
      for(i=0;i<10;i++){
        const clone = ele.cloneNode(true)
        document.querySelector('.content .body-table').appendChild(clone)
      }
    }
    clone()
  </script>

  <script src="/js/mile.js"></script>
</body>
</html>